<div class="container">
    <div class="row">
        <div class="col-12 col-md-8">
            <h3>Medical Orders Saved.</h3>
            <div class="pull-right pad-left-right">
                <a class="btn btn-success" [routerLink]="['edit']">Add Order</a>
            </div>
            <div class="center-panel">
            <finalproject-orderlist></finalproject-orderlist>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <finalproject-edit></finalproject-edit>
        </div>
    </div>
   
</div>
<!-- [routerLink]="['new']" -->

